/* The Big Bois */
/* ----------------------------------------------------------------------- */
body {
    background-color: #1d232d;
}

p {
    font-family: 'Fira Sans';
    font-size: 18px;
    font-weight: 300;
    color: #9fb3d6;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    padding: 1.5rem 1.5rem;
}

::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffb7b7; /* Gecko Browsers */
}

.articleLink {
    text-shadow: none;
    text-emphasis: none;
    text-decoration: none;
    font-family: 'Fira Mono';
    background-image: none;
    color: #9fb3d6;
    margin-bottom: 5px;
    padding-bottom: 0;
}

.articleLink:hover {
    color: #bdd2f5;
}

.siteHeader {
    font-family: 'Fira Mono';
}

.siteHeader a {
    text-shadow: none;
    text-decoration: none;
    background-image: none;
    color: #537bff;
}

.siteHeader a:hover {
    text-decoration: underline;
    text-decoration-style: line;
    color: #5398ff;
}

.site-footer {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    font-family: 'Fira Mono';
    font-size: 0.9em;
    color: #9fb3d6;
}

.site-footer--lower {
    max-width: 205px;
    margin-left: auto;
    margin-right: auto;
}

.site-footer a {
    text-shadow: none;
    text-decoration: none;
    background-image: none;
    color: #537bff;
}

.site-footer a:hover {
    text-decoration: underline;
    text-decoration-style: line;
    color: #5398ff;
}

.date {
    color: #9fb3d6;
    font-family: 'Fira Mono';
    font-weight: 300;
    font-size: 0.8rem;
}

.main {
    margin-bottom: 50;
}

/* BIO */
/* ----------------------------------------------------------------------- */
.bio {
    max-width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.bioImage {
    display: block;
    margin-right: 15px;
    width: 65;
}


.bio p {
    margin-top: 3px;
    font-family: 'Fira Mono';
    font-size: 0.9em;
    color: #9fb3d6;
    font-weight: 500;
}

.bio a {
    text-decoration: none;
    background-image: none;
    color: #537bff;
    font-size: 0.9em;
    text-shadow: none;
}

.bio a:hover {
    color: #5398ff;
}


/* Previous and Next */
/* ----------------------------------------------------------------------- */
.prevNext {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.prevNext li > a{
    text-shadow: none;
    color: #9fb3d6;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 1rem;
    font-size: 0.7rem;
    padding: 10px;
    background-image: none;
}

.prevNext li > a:hover {
    text-shadow: none;
    text-decoration: none;
    color: #bdd2f5;
}